# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Django stuff:
*.log
local_settings.py
secrets.json

*.sqlite3

# Distribution / packaging